.modal-lg {
  z-index: 100;
  position: absolute;
  top: -4rem;
  left: 0;
  right: 0;
  margin-right: auto;
  box-shadow: 0 0 0 100rem rgba(0, 0, 0, .7);
  width: 120%;
  margin-left: -10%;
}

.modal-lg.wide {
  margin-left: auto;
}
